{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'forgetp.css'%}">
    </head>
    <body> 
        {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
       <section>
       
        <div class="signup-box">
            <form method="POST"  action="">
                {% csrf_token %}
                <h2>Forget Password</h2><br>
        
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
                <div class="form-control">
                   <input type="value"  name="loginuname" required="">
                   <label for="loginuname">
                       <span style="transition-delay:0ms">U</span><span style="transition-delay:50ms">s</span><span style="transition-delay:100ms">e</span><span style="transition-delay:150ms">r</span><span style="transition-delay:200ms">n</span><span style="transition-delay:250ms">a</span><span style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span>
                    </label>
                   </div>  
                </div>


                <div class="input-box">
                    <span class="icon" onclick="togglePasswordVisibility()"><ion-icon name="eye"></ion-icon></span>
                          <div class="form-control">
                        <input name="password1" type="value" required="">
                        <label>
                            <span style="transition-delay:0ms">N</span><span style="transition-delay:50ms">e</span><span style="transition-delay:100ms">w</span><span style="transition-delay:150ms"></span><span style="transition-delay:200ms">P</span><span style="transition-delay:250ms">a</span><span style="transition-delay:300ms">s</span><span style="transition-delay:350ms">s</span><span style="transition-delay:400ms">w</span><span style="transition-delay:450ms">o</span><span style="transition-delay:500ms">r</span><span style="transition-delay:550ms">d</span>
                        </label>
                    </div>
                </div>
                <div class="input-box">
                    <span class="icon" onclick="togglePasswordsVisibility()"><ion-icon name="eye"></ion-icon></span>
                          <div class="form-control">
                        <input name="password2" type="value" required="">
                        <label>
                            <span style="transition-delay:0ms">C</span><span style="transition-delay:50ms">o</span><span style="transition-delay:100ms">n</span><span style="transition-delay:150ms">f</span><span style="transition-delay:200ms">i</span><span style="transition-delay:250ms">r</span><span style="transition-delay:300ms">m</span><span style="transition-delay:350ms"></span><span style="transition-delay:400ms">P</span><span style="transition-delay:450ms">a</span><span style="transition-delay:500ms">s</span><span style="transition-delay:550ms">s</span><span style="transition-delay:600ms">w</span><span style="transition-delay:650ms">o</span><span style="transition-delay:700ms">r</span><span style="transition-delay:750ms">d</span>
                        </label>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit">Submit</button>
                </div>
                
                <div class="background-image">
                   
                   
        <script src="{% static 'login.js' %}">    </script>     
        <script src="" async defer></script>
      </section>
    </body>
</html>