h1 {
    text-align: center;
}
.button {
  width: 100px;
  margin : 10px; 
  padding: 0.7rem 1.5rem;
  border: 1px solid #4361ee;
  background-color: #ee0979;
  color: #fff;
  border-radius:25px;
  cursor: pointer;
  box-shadow: 0 0 0 2px white,0 0 0 3px #c80b0b;
}

.mt-3 {
    margin-top: 2rem;
    padding: auto;
    margin-right: 0px;
    text-align: center;
    
}
form {
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    background-image: url("/static/image/bgsd.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-container {
    max-width: 400px;
    margin: 30px auto;
    
    padding: 55px;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}




label {
    margin-bottom: 5px;
    color: black;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select,
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


.popup{
    font-family: 'Alice', serif;
    width: 235px;
    background: #e5b3cb;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 26px;
    color: #333;
    height: 250px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  }
  .open-popup {
    visibility: visible;
    top: 47%;
    transform: translate(-50%,-50%) scale(1);
  }
  .popup img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
  }
  .popup button {
    width: 32%;
    margin-top: -12px;
    padding: 6px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
  }



   /* CSS for the form container */
   .form-container {
    width: 400px;
    margin: 30 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }

  /* CSS for form elements */
  .form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .form-calendar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

  /* CSS for form button */
  .form-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-button:hover {
    background-color: #45a049;
  }
