

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
 

}
body{
  
  background-image: url("/static/image/logo1.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: fixed;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px 20px;
  background-color: #fff;
  opacity: 1;
  box-shadow: 0 0 30px #ea1b37;

}  
  

h2 {
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline #7958f0;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 0px rgb(54, 147, 240);
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 0px rgb(54, 147, 240);
}

input[type="checkbox"] {
  margin-right: 5px;
  box-shadow: 3px 3px 0px rgb(54, 147, 240);
}


#xyz{
  font-weight: bold;
}


.hidden {
  
  display: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #7958f0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}



.hidden {
  display: none;
}